APP_ORIGIN=
ATTENDANCE_WORKER_SECRET=
GEMINI_MODEL=
KV_REST_API_TOKEN=
KV_REST_API_URL=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_USE_LIFF_MOCK=
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
SUPABASE_URL=